html { 
    font-size: 20px; 
    -webkit-font-smoothing: antialiased;
}

.logo { 
    width: 80px; 
    max-width: 80px; 
}

.footnotes hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0);
}
